TRUSTED_PROXIES=nextcloud.example.net #TODO replace if running behind proxy

NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.example.net,192.168.1.1
# If proxy isn't picked up correctly
# OVERWRITEHOST=nextcloud.example.net
# OVERWRITEPROTOCOL=https